.a{
    background: linear-gradient(135deg , #2bb673, #22c55e);
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 40px;
    font-weight: bolder;

}
.b{
    color: rgb(104, 7, 7);
    font-weight:bolder;
}
.header{
    background-color: rgb(37, 207, 150);
    border: 2px solid rgb(2, 44, 20) ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.q{
    background-color:#9eb6ce;
    text-align:center;
    text-decoration:dotted rgb(8, 36, 27) underline;
    color: rgb(14,40,39);
}
.l:hover{
    color: crimson;
    border: 2px solid black;
    transition: 3s;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding: 10px;
    color: #374151;
}
th{
    background-color: #2bb673;
    color: white;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-right: 20px;
    border-right: 2px solid black ;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.q:hover{
    border-radius: 30%;
    color: rgb(14, 66, 84);
    background-color: rgb(166, 139, 200);
    transition: 3s;
}
.s{
    text-align: center;
}
.photo img{
    border: 2px solid #2bb673;
    box-shadow: 0 15px 15px;
    border-radius: 50%;
    height: auto;
    width: 140px;
    aspect-ratio: 1/1;
    max-width: 100%;
}
img:hover{
    border-radius:10%;
    border:2px solid rgb(22, 21, 21);
    transition: 3s;
}
p{
    padding: 0%;
    margin: 8px;
}
@media (max-width: 480px) {
  .header{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    max-width: 100%;
  }

  .photo img {
    width: 110px;
    height: 120px;
  }
.contact{
    width: 95%;
 }
  table{
    font-size: 0.75rem;
  }
.container{
    width: 95%;
    max-width: 1100px;
    margin: auto;
    background-color: #f4f9f7;
    font-family: "segoe UI";
    color: #1f2937;
  }
}
.contact{
  background-color: #b1d0f0;
    width: 90%;
    border: 3px solid black;
    max-width: 500px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s;
    color: #222a33;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #151f1a;
    box-sizing: border-box;
}
.table-wrapper{
    width: 100%;
    overflow-x: auto;
}
.contact:hover {
  transform: translateY(-6px);
  transition: 0.7s;
}
body{
    background-color: #f8fafc;
    color: #373151;
}
.s{
    background-color: #b79f9f;
}
.s li{
    color: #1f2937;
    font-weight: 500;
}
.projects{
  padding: 20px 20px;
  background: #f4f4f4;
  text-align: center;
}

.projects h1{
  font-size: 39px;
  margin-bottom: 40px;
  background: #87c3a6;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.project-card span {
  font-size: 13px;
  color: #007bff;
  font-weight: bold;
}
.hcjp{
   background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
.hcjp:hover {
  transform: translateY(-8px);
}
.navbar{
  position: sticky;
  height: 60px;
  top: 0;
  background: linear-gradient(90deg , #1b5e20 , #4caf50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  z-index: 1000;
}
.nav-logo{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
.nav-links{
  list-style: none;
  display: flex;
  gap: 25px;
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  background: #2e7d32;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.5s;
}
.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #c8e6c9;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.hamburger span {
  background: white;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  border-radius: 5px;
}
@media (max-width:768px) {
.hamburger {
    display: flex;
  }
.nav-links{
    display: none;
    flex-direction: column;
    width: 100%;
    background: #2e7d32;
  }
.nav-links.active{
   display: flex;
  }
}
html{
  scroll-behavior: smooth;
}
section{
  scroll-margin-top: 70px;
}

